<div class="text-center">
   
    <button  routerLink="countofrooms" class="mt10 mb20" type="submit" mat-raised-button color="primary">countofrooms</button>
    <button routerLink="countoffreerooms" class="ml10 mt10 mb20" type="submit" mat-raised-button color="primary">countoffreerooms</button>
    <button  routerLink="isoccupied" class="ml10 mt10 mb20" type="submit" mat-raised-button color="primary">isoccupied</button>
    <button  routerLink="initializeroom" class="ml10 mt10 mb20" type="submit" mat-raised-button color="primary">initializeroom</button>  
    <button  routerLink="assignroom" class="ml10 mt10 mb20" type="submit" mat-raised-button color="primary">assignroom</button>    
    <button  routerLink="getroom" class="ml10 mt10 mb20" type="submit" mat-raised-button color="primary">GetroomByid</button>
    <button  routerLink="vacateroom" class="ml10 mt10 mb20" type="submit" mat-raised-button color="primary">vacateroom</button>    
    <button  routerLink="updateroom" class="ml10 mt10 mb20" type="submit" mat-raised-button color="primary">updateroom</button>        
   </div>

 <router-outlet></router-outlet>
