.mat-table{
  width: 96%;
  alignment: center;
  margin-left: 20px;
  margin-bottom: 30px;
}

.gprimary{
  background: #3dbc24;
}

.op{
  text-align: center;
  font-family: "M+ 1c heavy";
  text-decoration: darkblue;
  text-underline: darkred;
}
