<div class="bootstrap-wrapper mt20">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <mat-card class="outer_card">
            <h1 class="text-center mb40"> <b>Sports Equipment Portal</b></h1>
            <!-- <div class="col-md-4">
            <app-sidebar></app-sidebar>
          </div> -->
            <div class="column">
              <mat-card class="example-card ml40" routerLink="/sportudash">
                <mat-card-header routerLink = "accepted-admin-request">
                  <mat-card-title class="ml40">Available Stock</mat-card-title>
                  <mat-card-subtitle class="ml40">Module</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Click here to view available equipments stock details!
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="column">
              <mat-card class="example-card ml15" routerLink="/sportuform">
                <mat-card-header>
                  <mat-card-title class="ml50">Issue Item</mat-card-title>
                  <mat-card-subtitle class="ml50">Module</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Click here to issue new sports equipment items!
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="column">
              <mat-card class="example-card" routerLink="/reqgranttab">
                <mat-card-header>
                  <mat-card-title class="ml40">Request Status</mat-card-title>
                  <mat-card-subtitle class="ml40">Module</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Click here to view issued equipment request status!
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
  
  
            <!-- <div class="col-md-8">
            <router-outlet></router-outlet>
          </div> -->
  
          </mat-card>
        </div>
      </div>
    </div>
  </div>