<div class="bootstrap-wrapper mt20">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <mat-card class="outer_card">
            <h1 class="text-center mb40"><b>Laundry Portal</b></h1>
            <!-- <div class="col-md-4">
            <app-sidebar></app-sidebar>
          </div> -->
            <div class="column">
              <mat-card class="example-card ml30" routerLink="/set-laundry-prices">
                <mat-card-header routerLink = "accepted-admin-request">
                  <mat-card-title class="ml30">Set Laundry Prices</mat-card-title>
                  <mat-card-subtitle class="ml30">Module</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Click here to set laundry and dry clean prices!
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="column">
              <mat-card class="example-card ml15" routerLink="/pending-admin-request">
                <mat-card-header>
                  <mat-card-title class="ml30">Pending Requests</mat-card-title>
                  <mat-card-subtitle class="ml30">Module</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                      Click here to view pending laundry requests!
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="column">
              <mat-card class="example-card" routerLink="/rejected-admin-request">
                <mat-card-header>
                  <mat-card-title class="ml30">Rejected Requests</mat-card-title>
                  <mat-card-subtitle class="ml30">Module</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Click here to view rejected laundey requests!
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="column mt40" style="margin-left: 17%">
                <mat-card class="example-card" routerLink="/accepted-admin-request">
                  <mat-card-header>
                    <mat-card-title class="ml30">Accepted Requests</mat-card-title>
                    <mat-card-subtitle class="ml30">Module</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      Click here to view accepted laundey requests!
                    </p>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="column mt40">
                <mat-card class="example-card" routerLink="/completed-admin-request">
                  <mat-card-header>
                    <mat-card-title class="ml30">Completed Requests</mat-card-title>
                    <mat-card-subtitle class="ml30">Module</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    <p>
                      Click here to view completed laundey requests!
                    </p>
                  </mat-card-content>
                </mat-card>
              </div>
              
  
            <!-- <div class="col-md-8">
            <router-outlet></router-outlet>
          </div> -->
  
          </mat-card>
        </div>
      </div>
    </div>
  </div>