<div class="bootstrap-wrapper" >
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3 text-center"  >
        <h1>Welcome to IIITB HOSTEL PORTAL </h1>
        <span>   
        <button mat-raised-button color="primary"  routerLink="login">Login</button>
         &NonBreakingSpace;
         &NonBreakingSpace;
         &NonBreakingSpace;
        <button mat-raised-button color="primary"  routerLink="signup">Signup</button>
        </span>   

      </div>
    </div>
  </div>
</div>
