
<div class="container" style="overflow-x:auto;">
    <table>
      <thead>
      <tr>
        <th>StudentId</th>
        <th>Username</th>
        <th>email</th>
        <th>Phone</th>
        <th>Password</th>
      </tr>
      </thead>
      <tbody>
        <td><span>{{DATA['id']}}</span></td>
        <td><span>{{DATA['userName']}}</span></td>
        <td><span>{{DATA['email']}}</span></td>
        <td><span>{{DATA['phone']}}</span></td>
        <td><span>{{DATA['password']}}</span></td>
    
      </tbody>
    </table>
    </div>
