<div class="container  ml20 mr20 mb20 mt20" style="overflow-x:auto;">
    <table>
      <thead>
      <tr>
        <th>StudentId</th>
        <th>Username</th>
        <th>email</th>
        <th>Phone</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of  userlist">
        <td><span>{{i['id']}}</span></td>
        <td><span>{{i['userName']}}</span></td>
        <td><span>{{i['email']}}</span></td>
        <td><span>{{i['phone']}}</span></td>
        
      </tr>
      </tbody>

      

    </table>
    </div>

     
    <form (ngSubmit)="doSubmitForm()">
      <div class="text-center">
        <button  type="submit" mat-raised-button color="primary">Export to Pdf</button>
     </div>
    </form>