<h1 class="text-center mt10"> <b>User Dashboard</b></h1>


<div class="bootstrap-wrapper">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="outer_card">
          <h2 class="text-center"> Features</h2>
          <!-- <div class="col-md-4">
          <app-sidebar></app-sidebar>
        </div> -->
          <div class="column text-center">
            <mat-card class="example-card ml30" routerLink = "/sportsUserHome">
              <mat-card-header>
                <mat-card-title>Sports Module</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="../../../assets/sports_logo.jpg"
                alt="Sports logo">
              <mat-card-actions>
                <button class="ml10" mat-raised-button>GO</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="column text-center">
            <mat-card class="example-card ml20" routerLink="/laundryUserHome">
              <mat-card-header>
                <mat-card-title>Laundry_Module</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="../../../assets/laundry_logo.jpg"
                alt="Photo of a Shiba Inu">
              <mat-card-actions>
                <button class="ml10" mat-raised-button>GO</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="column text-center">
            <mat-card class="example-card ml10" routerLink="/showfees">
              <mat-card-header>
                <mat-card-title>Pending Fees</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="../../../assets/billing_logo.jpg"
                alt="Photo of a Shiba Inu">
              <mat-card-actions>
                <button class="ml10" mat-raised-button>GO</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="column text-center">
            <mat-card class="example-card" routerLink="/information">
              <mat-card-header>
                <mat-card-title>My Profile</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="../../../assets/student_info_logo.jpg"
                alt="Photo of a Shiba Inu">
              <mat-card-actions>
                <button class="ml10" mat-raised-button>GO</button>
              </mat-card-actions>
            </mat-card>
          </div>

          <!-- <div class="col-md-8">
          <router-outlet></router-outlet>
        </div> -->

        </mat-card>
      </div>
    </div>
  </div>
</div>