
    <mat-nav-list>  

      <a mat-list item routerLink="welcome" > <mat-icon>dashboard</mat-icon> Home</a>

      <a mat-list-item routerLink="view-student"><mat-icon>account_circle</mat-icon>View Student </a>
      
      <a mat-list-item routerLink="add-student"><mat-icon>add_task</mat-icon>Add Student</a>

      <a mat-list-item routerLink="delete-student"><mat-icon >delete_outline</mat-icon>Delete Student</a>

      <a mat-list-item routerLink="view-all-student"><mat-icon>tab</mat-icon>ViewALLStudent</a>

      <a mat-list-item routerLink="fees"><mat-icon>update</mat-icon>Fees</a>

      <a mat-list-item routerLink="rooms"><mat-icon >preview</mat-icon>Room Information</a>
    
    </mat-nav-list>


