<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card>
         <!-- <div class="container text-center">
            <img src="../../../assets/iiitb_logo.png" alt="iiitb_logo">
          </div> -->
          <h1 class="text-center"> Equipment Request Form !!</h1>
          <!-- {{user|json}} -->
          <form (ngSubmit)="formSubmit()">
            <!--Username field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Equipment Id</mat-label>
              <input required [(ngModel)]="sportuser.equipmentId" name="userName" type="number" matInput
                     placeholder="Enter here" />
            </mat-form-field>

            <!--Password field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Equipment Name</mat-label>
              <input required [(ngModel)]="sportuser.equipmentName" name="equipmentname" type="text" matInput
                     placeholder="Enter here" />
            </mat-form-field>

            <!--First Name field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Quantity</mat-label>
              <input required [(ngModel)]="sportuser.quantity" name="firstName"  type="number"  matInput
                     placeholder="Enter here">
            </mat-form-field>

            <!--Last name field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Issue Date</mat-label>
              <input required [(ngModel)]="sportuser.issueDate" name="lastName" type="date" matInput
                     placeholder="Enter here">
            </mat-form-field>

            <!--Email field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Return Date</mat-label>
              <input required [(ngModel)]="sportuser.returnDate" name="email"  type="date" matInput
                     placeholder="Enter here">
            </mat-form-field>

            <!--Phone number field-->

            <div class="container text-center">
              <button mat-raised-button color="primary">Send</button>
              <button class="ml10" type="reset" mat-raised-button color="accent">
                clear
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
