<div class="bootstrap-wrapper mt20">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <mat-card class="outer_card">
            <h1 class="text-center mb40"> <b>Bill Dashboard</b></h1>
            <!-- <div class="col-md-4">
            <app-sidebar></app-sidebar>
          </div> -->
          <div class="column">
            <mat-card class="example-card" routerLink="/viewfees">
              <mat-card-header>
                <mat-card-title class="ml40">View Fees</mat-card-title>
                <mat-card-subtitle class="ml40">Module</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                  Click here to view fees!
              </mat-card-content>
            </mat-card>
          </div>
            <div class="column">
              <mat-card class="example-card" routerLink="/setfees">
                <mat-card-header>
                  <mat-card-title class="ml40">Set Fees</mat-card-title>
                  <mat-card-subtitle class="ml40">Module</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  Click here to set fees!
                </mat-card-content>
              </mat-card>
            </div>
            <div class="column">
              <mat-card class="example-card" routerLink="/updatefees">
                <mat-card-header>
                  <mat-card-title class="ml30">Update Fees</mat-card-title>
                  <mat-card-subtitle class="ml30">Module</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  Click here to update fees!
                </mat-card-content>
              </mat-card>
            </div>
            <div class="column">
                <mat-card class="example-card" routerLink="/calculatefees">
                  <mat-card-header>
                    <mat-card-title class="ml20">Calculate Fees</mat-card-title>
                    <mat-card-subtitle class="ml20">Module</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                    Click here to calculate fees!
                  </mat-card-content>
                </mat-card>
              </div>
  
            <!-- <div class="col-md-8">
            <router-outlet></router-outlet>
          </div> -->
  
          </mat-card>
        </div>
      </div>
    </div>
  </div>